html {
  scroll-behavior: smooth;
  font-size: 10px;
};

.body {
  background-color: $color-background;
  overflow-x: hidden;
  transition: background-color 0.3s ease;
};

/*.body__dark-theme {
  background-color: $color-background;
  overflow-x: hidden;
}*/

.body__light-theme {
  background-color: $color-text;
  overflow-x: hidden;
};

.light-theme {
  color: $color-background;
  background-color: $color-background;
}

li {
  list-style-type: none;
};

h1, h2, h3, p {
  margin: 0;
}