html {
  scroll-behavior: smooth;
  font-size: 10px;
  overflow-x: hidden;
};


.body {
  background-color: $color-background;
  overflow-x: hidden;
  transition: background-color 0.3s ease;
};

.body__light-theme {
  background-color: $color-text;
  overflow-x: hidden;
};

li {
  list-style-type: none;
};

h1, h2, h3, p {
  margin: 0;
}