.skills__img {
  width: 62px;
  height: 50px;
  margin: 0 0 50px 0;
  background-size: 62px 50px;
  background-repeat: no-repeat;
  &_photo {
    background-image: url('../../src/img/skills/skills_camera.png');
  }
  &_video {
    background-image: url('../../src/img/skills/skills_video.png');
  }
  &_retouch {
    background-image: url('../../src/img/skills/skills_image.png');
  }
  &_audio {
    background-image: url('../../src/img/skills/skills_mic.svg');
  }
};

.icon__social {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  &_inst {
    background-image: url('../../src/img/icons/inst.svg');
  }
  &_fb {
    background-image: url('../../src/img/icons/fb.svg');
  }
  &_pinterest {
    background-image: url('../../src/img/icons/pinterest.svg');
  }
}