@import '../../src/sass/normalize.css';
/* merriweather-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../../src/fonts/merriweather/merriweather-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../../src/fonts/merriweather/merriweather-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../src/fonts/roboto/roboto-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../src/fonts/roboto/roboto-v32-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../src/fonts/inter/inter-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../src/fonts/inter/inter-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.header__itemn:hover,
.header__butn:hover {
  color: #bdae82;
  transition: 0.2s color ease-in-out;
}

.button:hover {
  color: #ffffff;
  transition: 0.4s color ease-in-out;
}

html {
  font-size: 10px;
}

.body {
  background-color: #000000;
}

li {
  list-style-type: none;
}

h1, h2, h3, p {
  margin: 0;
}

.button {
  width: 220px;
  padding: 8px 0px;
  font-size: 2rem;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  color: #000000;
  background-color: #bdae82;
  border: 0;
  cursor: pointer;
  transition: 0.4s color ease-in-out;
}

.portfolio__butn {
  border: 2px solid #bdae82;
  background-color: transparent;
  color: #bdae82;
}

.button_active {
  color: #000000;
  background-color: #bdae82;
}

.skills__img {
  width: 62px;
  height: 50px;
  margin: 0 0 50px 0;
  background-size: 62px 50px;
  background-repeat: no-repeat;
}
.skills__img_photo {
  background-image: url("../../src/img/skills/skills_camera.png");
}
.skills__img_video {
  background-image: url("../../src/img/skills/skills_video.png");
}
.skills__img_retouch {
  background-image: url("../../src/img/skills/skills_image.png");
}
.skills__img_audio {
  background-image: url("../../src/img/skills/skills_mic.svg");
}

.title {
  position: relative;
  text-align: center;
  color: #bdae82;
  font-size: 4rem;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  line-height: 8rem;
}

.title::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 25.7%;
  width: 275px;
  height: 3px;
  background-color: #bdae82;
}

.title::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 55.3%;
  width: 275px;
  height: 3px;
  background-color: #bdae82;
}

.title__portfolio::before {
  width: 240px;
}

.title__portfolio::after {
  width: 240px;
  left: 57.5%;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.header {
  padding: 20px 60px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  background-image: url("../../src/img/icons/logo.svg");
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px 30px;
}

.header__buttons {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
}

.header__butn {
  padding: 0;
  border: none;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  background: transparent;
  cursor: pointer;
}

.header__butn_active {
  color: #bdae82;
}

.portfolio-dg {
  background-image: url("../../src/img/bg/bg.jpg");
  background-repeat: no-repeat;
  background-position: -15px 55%;
  background-size: cover;
}

.header__itemns {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 0px 31px;
}

.header__itemn {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  text-decoration: none;
  transition: 0.3s color ease-in-out;
}

.hero {
  padding: 185px 120px 330px 120px;
}

.hero__title {
  margin: 0 0 35px 0;
  color: #ffffff;
  font-size: 6rem;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
}

.hero__text {
  width: 470px;
  margin: 0 0 25px 0;
  line-height: 4rem;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

.skills {
  padding: 99px 0px 30px;
}

.skills__gallery {
  display: flex;
  flex-direction: row;
  gap: 0px 40px;
  padding: 60px 20px 40px;
}

.skills__itemn {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__title {
  margin: 0 0 20px 0;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
}

.skills__text {
  width: 280px;
  color: #ffffff;
  text-align: center;
  font-size: 1.8rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
}

.portfolio {
  padding: 40px 0px 30px 0px;
}

.portfolio__buttons {
  padding: 60px 0px 57px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 5px;
}

.portfolio__gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px 25px;
}

.video {
  padding: 68px 0px 30px;
}

.video__player {
  position: relative;
  padding: 60px 0px 0px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.price {
  padding: 70px 0px 30px;
}

.price__gallery {
  padding: 60px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}

.price__itemn {
  padding: 40px 0px 15px 0px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #bdae82;
}

.price__title {
  margin-bottom: 22px;
  color: #ffffff;
  font-size: 2.8rem;
  line-height: 5.6rem;
  text-align: center;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
}

.price__sum {
  margin-bottom: 20px;
  color: #bdae82;
  font-size: 2.4rem;
  line-height: 4.8rem;
  text-align: center;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
}

.price__text {
  width: 180px;
  height: 220px;
  padding: 0 15px 0;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.6rem;
  text-align: center;
}

.price__btn {
  margin-bottom: 25px;
}

/*# sourceMappingURL=index.css.map */
