$color-background: #000000;
$color-title: #bdae82;
$color-text: #ffffff;

$width: 1440px;

//media
$desktop-big: 1307px;
$desktop-tile-big: 1214px;
$desktop-title-small: 1082px;
$desktop-small: 995px;
$tablet-big: 900px;
$tablet-big-title: 870px;
$tablet-big-small: 828px;
$tablet-small-title: 820px;
$color-tablet-big: 804px;
$color-tablet: 768px;
$tablet-title: 745px;
$tablet-big-skills: 665px;
$phone-big: 685px;
$tablet-small: 540px;
$phone-title: 465px;
$mobale: 418px;
$mobale-small-skill: 345px;
$mobale-small: 362px;
$phone-small: 308px;
