$color-background: #000000;
$color-title: #bdae82;
$color-text: #ffffff;

$width: 1440px;

//media

$color-tablet-big: 804px;
$color-tablet: 768px;
$tablet-small: 540px;
$mobale: 418px;
$mobale-small: 362px;
$phone-small: 308px;
