.portfolio-dg {
  background-image: url('../../src/img/bg/bg.jpg');
  background-repeat: no-repeat;
  
  background-size: cover;

  transition: background-color 0.3s ease;
  @include desktop-small {
    background-size: auto 680px;
    background-position: -2px -20%;
  }
  @include color-tablet {
    background-position: -2px -20%;
  }
  @include tablet-title {
    background-size: auto 600px;
    background-position: 40% -20%;
  }
  @include tablet-small {
    background-position: 45% 0%;
  }
  @include phone-title {
    background-size: auto 600px;
    background-position: 60% 0%;
  }
  @include mobale {
    background-size: auto 630px;
    background-position: 58% 0%;
  }
  @include mobale-small {
    background-position: 55% 0%;
  }
};

.portfolio-dg_light-theme {
  filter: saturate(150%);
}