.price {
  padding: 70px 0px 100px;
  @include color-tablet {
    padding: 50px 0px 75px;
  }
};

.price__gallery {
  padding: 60px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 20px;
  @include desktop-title-small {
    display: grid;
    grid-template-columns: repeat(1, 0.1fr);
  }
  @include color-tablet {
    padding: 50px 0px 0px 0px;
    gap: 50px 20px;
  }
}

.price__itemn {
  padding: 40px 0px 15px 0px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid $color-title;
  @include color-tablet {
    width: 420px;
  }
  @include tablet-small {
    width: 380px;
    padding: 20px 0px 0px 0px;
  }
  @include mobale {
    width: 280px;
  }
  @include mobale-big-porfolio {
    width: 240px;
  }
}

.price__title {
  margin-bottom: 22px;
  font-size: 2.8rem;
  line-height: 5.6rem;
  text-align: center;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  @include tablet-small {
    font-size: 2.2rem;
  }
};

.price__sum {
  margin-bottom: 20px;
  color: $color-title;
  font-size: 2.4rem;
  line-height: 4.8rem;
  text-align: center;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  @include tablet-small {
    margin-bottom: 5px;
    font-size: 2.2rem;
  }
};

.price__text {
  width: 180px;
  height: 220px;
  padding: 0 15px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.6rem;
  text-align: center;
  @include tablet-small {
    font-size: 1.5rem;
  }
};

.price__btn {
  margin-bottom: 25px;
}