.price {
  padding: 70px 0px 30px;
};

.price__gallery {
  padding: 60px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}

.price__itemn {
  padding: 40px 0px 15px 0px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid $color-title;
}

.price__title {
  margin-bottom: 22px;
  color: $color-text;
  font-size: 2.8rem;
  line-height: 5.6rem;
  text-align: center;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
};

.price__sum {
  margin-bottom: 20px;
  color: $color-title;
  font-size: 2.4rem;
  line-height: 4.8rem;
  text-align: center;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
};

.price__text {
  width: 180px;
  height: 220px;
  padding: 0 15px 0;
  color: $color-text;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.6rem;
  text-align: center;
};

.price__btn {
  margin-bottom: 25px;
}