.skills {
  padding: 99px 0px 30px;
  @include color-tablet {
    padding: 0px 0px 30px;
  }
};

.skills__gallery {
  display: flex;
  flex-direction: row;
  gap: 0px 40px;
  padding: 60px 20px 40px;
  @include desktop-big {
    display: grid;
    grid-template-columns: repeat(2, 0.3fr);
    justify-content: center;
    align-items: center;
    gap: 70px 30px;
  }
  @include color-tablet {
    padding: 50px 40px 40px;
    grid-template-columns: repeat(2, 0.1fr);
    gap: 70px 50px;
  } 
  @include tablet-big-skills {
    grid-template-columns: repeat(1, 0.1fr);
  }
  @include mobale-small-skill {
    gap: 30px 0px;
  }
};

.skills__itemn {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include color-tablet {
    width: 300px;
  } 
};

.skills__title {
  margin: 0 0 20px 0;
  color: $color-text;
  text-align: center;
  font-size: 2.0rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 4.0rem;
  @include desktop-big {
    margin: 0 0 10px 0;
  }
  @include mobale-small-skill {
    font-size: 1.8rem;
  }
};

.skills__text {
  width: 280px;
  color: $color-text;
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
  @include desktop-big {
    line-height: 3.0rem;
  }
  @include mobale-small-skill {
    width: 260px;
    font-size: 1.6rem;
  }
};