.header__toggle {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../../src/img/topik/icon_light.png');
  background-repeat: no-repeat;
  cursor: pointer;
}