.video {
  padding: 68px 20px 30px;
  @include color-tablet {
    padding: 50px 20px 30px;
  }
};

.video__player {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  height: calc(46% - 60px);
  max-height: 705px;
};

.viewer {
  height: auto;
  width: calc(100% + 2px);
};

.video__btn {
  position: absolute;
  margin-left: 45%;
  width: 150px;
  height: 150px;
  z-index: 3;
  background-image: url('../../src/img/video/play-btn.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  @include color-tablet {
    margin-left: 37%;
  }
  @include color-tablet {
    width: 75px;
    height: 75px;
    margin-left: 42%;
    margin-top: -10%;
  }
  @include mobale-small-skill {
    margin-left: 36%;
    margin-top: -17%
  }
}

.video__controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 5px;
  border: 2px solid $color-title;
};

.play-icon {
  width: 40px;
  height: 36px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  @include phone-title {
    width: 30px;
    height: 26px;
  }
};

.play {
  background-image: url('../../src/img/video/play.svg');
};

.pause {
  background-image: url('../../src/img/video/pause.svg');
};

.volume {
  background-image: url('../../src/img/video/volume.svg');
};

.volume__not-active {
  background-image: url('../../src/img/video/mute.svg');
};


.video__progress {
  height: 10px;
  width: calc(70% - 160px);
  height: 10px;
  outline: none;
  -webkit-appearance: none;
  background: linear-gradient(to right, #bdae82 0%, #bdae82 40%, #c8c8c8 40%, #c8c8c8 100%);
  @include color-tablet {
    width: 100%;
    left: 0;
    top: 82%;
    position: absolute
  }
  @include tablet-big-skills {
    top: 80%;
  }
  @include tablet-small {
    top: 76%;
  }
  @include phone-title {
    top: 76%;
    height: 8px;
  }
  @include mobale {
    top: 74%;
  }
  @include mobale-small-skill {
    top: 69%;
  }
};

.volume__progress {
  width: calc(15% - 40px);
  -webkit-appearance: none;
  height: 10px;
  background: linear-gradient(to right, #bdae82 0%, #bdae82 40%, #c8c8c8 40%, #c8c8c8 100%);
  @include color-tablet {
    width: calc(85% - 40px);
  }
  @include phone-title {
    height: 8px;
  }
}


.volume__progress::-webkit-slider-thumb,
.video__progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: #bdae82;
}







