.video {
  padding: 68px 0px 30px;
  @include color-tablet {
    padding: 50px 0px 30px;
  }
};

.video__player {
  position: relative;
  padding: 60px 0px 0px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  @include color-tablet {
    padding: 50px 0px 0px 0px;
  }
};

.video__img {
  @include color-tablet {
    width: 768px;
    height: 418px;
  }
}

