.header {
  padding: 20px 60px;
  @include tablet-big-bg {
    padding: 20px 30px;
  }
  @include color-tablet {
    padding: 10px 60px;
  }
  @include mobale {
    padding: 10px 20px;
  }
  @include phone-small {
    padding: 10px 20px;
  }
};

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
};

.header__icon {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  background-image: url('../../src/img/icons/logo.svg');
};

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px 30px;
  @include color-tablet {
    gap: 0px 20px;
  };
  @include mobale-small-skill {
    gap: 0px 10px;
  }
}

.header__buttons {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
};

.header__butn,
.header__butn_dash {
  padding: 0;
  border: none;
  color: $color-text;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2.0rem;
  background: transparent;

  cursor: pointer;
  @include color-tablet-big {
    font-size: 1.7rem;
  }
  @include color-tablet {
    font-size: 2.0rem;
  }
  @include phone-small {
    font-size: 1.7rem;
  }
};

.header__butn_active {
  color: $color-title;
};

